@import 'select2/dist/css/select2.css';
@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    margin: 0;
    padding: 0;
}

body {
    background-color: hwb(16 41% 0% / 0.236) !important;
}

:root {
    --primary-color: #4361ee;
    --secondary-color: #3f37c9;
    --light-color: #f8f9fa;
    --dark-color: #212529;
    --sidebar-width: 250px;
    --sidebar-collapsed-width: 70px;
    --transition-speed: 0.3s;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f5f7fb;
    margin: 0;
    padding: 0;
}